.btnclass{
    background-color: #12ABDB;
    color: white;
    }
    
    #file_upload{
    display: none;
    }
    .button {
    width: 200px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #12ABDB;
    background: transparent;
    color: #000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: #12ABDB;
    color: white;
    }
    
    .button:hover {
    color: white;
    background-color: green;
    }
    
    .button:active {
      
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    }
    .btn {
    font-weight: 400;
    background-color: #12ABDB;
    border: none;
    color: white;
    padding: 12px 12px;
    cursor: pointer;
    font-size: 20px;
    width: 150px;
    }
    
    #buttonSize{
        
        font-size: 25px;
        float: right;
        cursor: pointer;
        margin-right: 25px;
        margin-top: 5px;
    }   
  