/* You can add global styles to this file, and also import other style files */
/* @import "~@ng-select/ng-select/themes/ant.design.theme.css";
@import "~@ng-select/ng-select/themes/material.theme.css"; */
@import "~@ng-select/ng-select/themes/default.theme.css";
::-webkit-scrollbar {
    width: 6px;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    background-color: #12ABDB;
    border-radius: 20px;
    /* overflow-x: scroll;
    overflow-y: scroll; */
}

